SegaGT_ArchiveTool/.vs/
SegaGT_ArchiveTool/SegaGT_ArchiveTool/bin/
SegaGT_ArchiveTool/SegaGT_ArchiveTool/obj/
SegaGT_ArchiveTool/SegaGT_ArchiveTool/SegaGT_ArchiveTool.csproj.user
SegaGT2000Tool/.vs/
SegaGT2000Tool/SegaGT2000Tool/bin/
SegaGT2000Tool/SegaGT2000Tool/obj/
